@model BPO_Solutions.Models.Diabetic_PatientsModel

@{
    ViewBag.Title = "NewDiabetic_PatientRecord";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="bordered-layout-basic-form">Project Info</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-user"></i> Details</h4>
                            <div class="form-group row">

                                @Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "col-md-3 label-control" })


                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control round" } })
                                    @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group row">

                                @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "col-md-3 label-control" })




                                <div class="col-md-9">
                                @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control round" } })
                                @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })


                                </div>
                            </div>

                            <div class="form-group row">

                                @Html.LabelFor(model => model.Phone_No, htmlAttributes: new { @class = "col-md-3 label-control " })








                                <div class="col-md-9">

                                    @Html.EditorFor(model => model.Phone_No, new { htmlAttributes = new { @class = "form-control round" } })
                                    @Html.ValidationMessageFor(model => model.Phone_No, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group row">

                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-md-3 label-control " })


                                <div class="col-md-9">
                                   
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control round" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })                                </div>
                            </div>

                            <div class="form-group row">

                                @Html.LabelFor(model => model.City_State, htmlAttributes: new { @class = "col-md-3 label-control " })
                                <div class="col-md-9">

                                    @Html.EditorFor(model => model.City_State, new { htmlAttributes = new { @class = "form-control round" } })
                                    @Html.ValidationMessageFor(model => model.City_State, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">

                                @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "col-md-3 label-control " })


                                <div class="col-md-9">

                                    @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control round" } })
                                    @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">

                                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "col-md-3 label-control " })

                                <div class="col-md-9">

                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control round" } })
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">

                                @Html.LabelFor(model => model.Health_Insurance_ID, htmlAttributes: new { @class = "col-md-3 label-control  " })
                                <div class="col-md-9">

                                    @Html.EditorFor(model => model.Health_Insurance_ID, new { htmlAttributes = new { @class = "form-control round" } })
                                    @Html.ValidationMessageFor(model => model.Health_Insurance_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">

                                @Html.LabelFor(model => model.Diabetes_Type, htmlAttributes: new { @class = "col-md-3 label-control " })

                                <div class="col-md-9">

                                    @Html.DropDownListFor(Model => Model.Diabetes_Type, new SelectList(Enum.GetValues(typeof(BPO_Solutions.Models.Diabetic_PatientsModel.DBType))), "Select Type", htmlAttributes: new { @class = "control-label form-control" })
                                    @Html.ValidationMessageFor(model => model.Diabetes_Type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">


                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-md-3 label-control " })


                                <div class="col-md-9">

                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>







                        </div>
                        <div class="form-actions">
                            <button type="button" class="btn btn-warning mr-1">
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <i class="la la-check-square-o"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




       </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




